<!DOCTYPE html>
<html>
<head>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>

<header class="text-muted jumbotron container-fluid">
  <div class="row">

    <div class="col-sm-4"><a href="/" class="text-muted"><strong> Stripe Fees </strong></a></div>
    <div class="col-sm-4 pull-right"><a href="/" class="text-muted">Back</a></div>
</header>
<body class="bg-primary">
<h3>Welcome</h3>

<div class="bg-info text-info">
Please select a username and password

<%= render partial: 'form' %>
</div>
</body>
</html>
