<body class="bg-primary container-fluid">

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top container">
  <div class="row container">

    <div class="col-sm-4"><a href="/" class="text-muted"><strong> Stripe Fees </strong></a></div>
    <div class="col-sm-4 col-sm-offset-3"><a href="/" class="text-muted">Back</a></div>
</nav>
<body class="bg-primary">
<h3>Welcome</h3>

<div class="bg-info text-info">
Please select a username and password

<%= render partial: 'form' %>
</div>
</body>
