<!DOCTYPE html>
<html>
<head>
  <title>StripeFees</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<img style='display:hidden' src="spinning-wheel.gif" alt="" />
<img style='display:hidden' src="stripe-fees.gif" alt="" />

</body>
</html>
